* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    box-sizing: border-box;
    scrollbar-width: none;
    font-family: Open Sans, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-behavior:smooth;
}

body {
    font-family: bebas;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: auto;
    background-color: #e3e3e6;
    color: #333;
    font-family: Poppins,"Bebas Neue", sans-serif;
    font-weight:  400;
    font-style:normal;
    max-width: 100vw;
}

/*Parte superior Layaout?*/


nav {
    background-color: #e3e3e6;
    color: #182801;
    display: inline-flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    font-weight: 600;
}

.lista {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100vw;
}

nav li {
    margin: 1vh 1vw;
    padding: 1.2vh 1.5vw;
    transition: linear 0.1s;
    border-radius: 40px;
}

.logo {
    max-height: 50px;
}


.header {
    background-color: #e3e3e6;
    display: flex;
    justify-content: start;
    align-items: center;
    container-type: inline-size;
    container-name: header;
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
    box-shadow: 0 -10px 15px -5px #d9d9d97c,0px 15px 15px -5px #3334;
}

.header__logo {
    max-width: 100%;
    width: 40px;
    margin: 0px 20px 0px 20px;
    transition: linear 0.2s;
}

.header__logo:hover {
    filter: drop-shadow( 0px 0px 10px #1dbf72);
}

.header__logo-container{
    display: flex;
    position: absolute;
}

.header__text {
    margin: 20px auto;
    text-wrap-mode: nowrap;
    color: #333;
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 700;
    container-name: headert;
}

@media screen and (max-width: 840px) {
    .header__text {
        display: none;
    }
}  

#Contacto {
    background-color: transparent;
    color: #333;
    box-sizing: border-box;
    border-radius: 20px;
    text-decoration: none;
    margin: 0;
    transition: linear 0.1s;
}


.header__nav-item {
    list-style: none;
}

.header__checkbox, .header__nav {
    display: none;
}

.header__open-nav-button{
    color: #182801;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
}

.header__nav {
    display: none;
    background-color: #e3e3e6;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.header__checkbox:checked ~ .header__nav, .header__text {
    display: flex;
}

.inicio {
    display: none;
}

a {
    color: #333;
    text-decoration: none;
    border-radius: 20px;
    width: max-content;
    height: max-content;
}

@container header (min-width: 850px) {  
    #Contacto {
        background-color: #1dbf72;
        color: #333;
        box-sizing: border-box;
        border-radius: 20px;
        text-decoration: none;
        margin: 0;
        transition: linear 0.1s;
    }

    #Contacto:is(:hover,:active) {
        background-color: transparent;
        color: #333;
        border: #333 1px solid;
    }

    .header__nav-item:is(:hover,:active) {
        box-shadow: 0 0 5px 2.5px #33333337 ;
        background-color: #1dbf72;
        color: #333;
        box-sizing: border-box;
        border-radius: 20px;
        text-decoration: none;
    }

    .header__nav {
        display: block;
        position: static;
        max-height: max-content;
        width: auto;
    }

    .header__nav-item{
        margin: 0px;
    }

    .header__logo-container{
        display: flex;
        position: sticky;
    }

    .header__logo {
        max-width: 100%;
        width: 40px;
        margin: 5px 10px 5px 5dvw;
    }

    .header__text{
        display: none;
        max-height: min-content;
        margin-bottom: 15px;
    }

    .header__nav-list {
        flex-direction: row;
        width: auto;
        gap: 5px;
        margin-right: 8dvw;
        height:max-content;
    }

    .header__open-nav-button {
        display: none;
    }

    .texto_bienvenida {
        font-size: 3.5dvw;
    }

    .titulo_Principal {
        font-size: 5dvw;
    }

}

/*Barra de navegacion LISTA NO MODIFICAR*/

/*Contenido Principal de la web*/

.main__board-presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 25px;
    width: 90vw;
    padding: 10px;
    min-height: 90vh;
    margin: 0px auto 3vh auto;
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
    color: black;
    z-index: 5;
}

.titulo_Principal {
    width: 70vw;
    font-family: "Playfair Display", serif; 
    font-size: 5vw;
    container-type: inline-size;
}

.texto_bienvenida {
    width: 80vw;
    font-weight: 600;
    font-family: "Poppins"; 
    font-size: 3vh;
    container-type: inline-size;
}

.ws-container{
    max-width: max-content;
    margin-top: 5vh;
}

.ws {
    text-wrap-mode: nowrap;
    padding: 2.5vh 2vw;
    margin-bottom: 5vh;
}

.ws, .ws-container{
    color: #333;
    background-color: #1dbf72;
    border-radius: 10px;
    transition: linear 0.18s;
}

.ws:hover,  .ws-container:hover{
    filter: drop-shadow( 0 0 5px #33333333);
}

.icon-ws, .ws{
    font-size: clamp(18px, 1vw, 1.5vw);
}

@media screen and (max-width: 330px) {
    .ws {
        font-size: 4.0vw;
    }
}


.img-fondo {
    top: 45vh;
    left: 0;
    background-image: url(../img/LogPanPrincipal.svg);
    position: absolute;
    filter: drop-shadow( 0 0 20px #1dbf72);
    width: 100vw;
    height: 55vh;
    background-size: 100vh ;
    background-size:cover;
    background-position: center;
    opacity: 0.11;
    z-index: -1;
}

.separator {
    top: 0;
    left: 0;
    background-color: #000000;
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: -1;
}

@media screen and (max-width: 650px) {
    .main__board-presentation {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 25px;
        width: 90vw;
        padding: 10px;
        max-height: 80vh;
        margin: 0px auto 3vh auto;
        background-color: rgba(0, 0, 0, 0);
        text-align: left;
        color: black;
    }
    
    .titulo_Principal {
        width: 70vw;
        font-family: "Playfair Display", serif; 
        font-size: 5vh;
        container-type: inline-size;
        margin-bottom: 1vh;
    }
    
    .texto_bienvenida {
        width: 80vw;
        font-weight: 400;
        font-family: "Poppins"; 
        font-size: 2vh;
        container-type: inline-size;
    }

}

/*Incio Listo, NO MODIFICAR*/

/*---------- Portafolio Section ----------*/

.dispositivos {
    background-color: #e3e3e6;
    color: #333;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    container-name: dispositivos;
    container-type: inline-size;
}

.dispositivos__project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 85dvw;
    margin: 0 auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 145vh;
    text-align: center;
}

.dispositivos__title{
    width: 85vw;
    margin: 2dvh auto;
    font-family: "Playfair Display", serif; 
    font-size: 10vw;
    text-decoration: underline;
    font-weight: 600;
}

.dispositivos__project {
    background-position: center;
    background-size: cover;
    display: grid;
    border-radius: 10px;
    place-items: top;
    font-weight: 300;
}

.dispositivos__project:nth-child(1) {
    background-image: linear-gradient( #000, #00000000), url(../img/iot.jpeg);
    order: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    color: #1dbf72;
    border: 2px solid black;
    transition: linear 0.1s;
}

.dispositivos__project:nth-child(2) {
    background-image: linear-gradient( #000, #00000000), url(../img/Radiofrecuencia.jpeg);
    order: 2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    color: #1dbf72;
    border: 2px solid black;
    transition: linear 0.1s;
}

.dispositivos__project:nth-child(3) {
    background-image: linear-gradient( #000, #00000000), url(../img/homeassistant.jpg);
    order: 3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    color: #1dbf72;
    border: 2px solid black;
    transition: linear 0.1s;
}

.dispositivos__project:nth-child(4) {
    background-image: linear-gradient( #000, #00000000), url(../img/Inteligenciaartificial.jpeg);
    order: 4;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    color: #1dbf72;
    border: 2px solid black;
    transition: linear 0.1s;
}

.dispositivos__project:nth-child(5) {
    background-image: linear-gradient( #000, #00000000), url(../img/seguridad.jpeg);
    order: 5;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000;
    color: #1dbf72;
    border: 2px solid black;
    transition: linear 0.1s;
}

.dispositivos__project:nth-child(6) {
    background-image: linear-gradient( #000, #00000000), url(../img/Esp32.jpeg) ;
    order: 6;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    color: #1dbf72;
    border: 2px solid black;
    transition: linear 0.1s;
}

.dispositivos__project:hover {
    opacity: 0.90;
    outline: 1px solid #000;
    box-shadow: 0px 0px 25px #1dbf72;
}

.dispositivos__project-item{
    max-height: fit-content;
    margin: 4dvh auto;
    max-height: fit-content;
}

.dispositivos__project-item2{
    max-height: fit-content;
    place-content: top;
}

.dispositivos__project-item, .dispositivos__project-item2, .dispositivos__project-subcontainer {
    color: #e3e3e3;
}

.dispositivos__project-subcontainer {
    margin: 2vh 1vw;
}

.dispositivos__title {
    font-size: calc(3dvh + 1.5dvw );
}

.dispositivos__subtitle {
    font-size: calc(1.5dvh + 1dvw );
    margin: 2dvh auto;
}

/* ---------- dispositivos QUERIES ---------- */

@container dispositivos (min-width: 1400px) {
    .dispositivos__project-container {
        max-width: 80vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .dispositivos__project:nth-child(6) {
        grid-column: 3 / 5; 
        grid-row: 2 / 3;
    }
    .dispositivos__project:nth-child(5) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}

@media (min-width: 700px) and (max-width: 1400px) {
    .dispositivos__project-container {
        max-width: 80vw;
        grid-template-columns: 1fr 1fr 1fr;
        min-height: 80vh;
    }
}

@container dispositivos (max-width: 700px) {
    .dispositivos__project-container {
        grid-template-columns: 1fr;
    }
    .texto_bienvenida {
        font-size: 1dvw;
    }
}

/*Contacto*/

.contacto__container {
    min-height: 90vh;
    min-width: 100vw;
}

.article-primary {
    min-height: 70vh;
    background-image:  linear-gradient(#002,#0000), url(../img/redes.svg);
    background-size: contain;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: right;
    color: #e3e3e3;
    display: flex;
    margin-top: 2vh;
    margin-bottom: 0;
    padding-bottom: 0;
}

.article-seconday {
    max-height: 100vh;
    background-color: #1dbf72;
    color: #000;
    display: flex;
}

.contacto__container-subcontainer2 {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 85vw;
    min-height: 22vh;
    
}

.title-secondary, .article-button {
    max-width: max-content;
    margin: auto;
    font-size: 2.5vh;
    padding: 1.8vh 1.5vw;
}

.article-button1 {
    margin: auto 1vw auto 0px;
    height: fit-content;
}

.article-button2 {
    margin: auto auto auto 1vw;
}

.title-secondary {
    font-weight: 600;
    padding: 0;
    font-size: 4vh;
    margin: auto 2vw auto auto;
    font-family: "Poppins";
}


@media screen and (max-width: 400px) {
    #t_s { 
        font-size: 8.0vw;
    }
}

@media screen and (max-width: 1400px) {
    .title-secondary {
        min-width: 80vw;
    }

    .article-button2 {
        margin: auto 2vw auto 1vw;
    }
}

@media screen and (max-width: 650px) {
    .title-secondary {
        font-size: 3vh;
        margin: 1vh auto 0px auto;
        max-height: fit-content;
    }

    .article-button1{
        margin-top: auto;
    }

    .article-button{
        font-size: 2vh;
        margin-bottom: 2vh;
    }

    .contacto__container-subcontainer2 {
        height: m;
    }

    .article-primary {
        background-size: cover;
    }
}

@media screen and (max-width: 410px) {
    .article-button{
        font-size: 2vh;
        margin:1vh auto;
    }

}

.article-button {
    border-radius: 20px;
    background-color: #000;
    color: #e3e3e3;
}

.title-primary{
    max-width: 60vw;
    font-size: 4vw;
    text-wrap-mode: wrap;
    font-family: "Playfair Display", serif; 
    text-align: left;
}

.article-text {
    text-align: left;
    max-width: fit-content;
}

.text1{
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: "Poppins";
    max-width: 60vw;
    text-align: left;
}

.text2{
    padding: 1vh 3vw;
    background-color: #1dbf72;
    color: #000;
    border-radius: 15px;
    font-family: "Poppins";
    text-align: left;
    max-width: fit-content;
    transition: 0.25s linear;
}

.text2:hover{
    box-shadow: 0 0 15px #1dbf72;
}

.contacto__container-subcontainer {
    min-height: 40vh;
    min-width: 70vw;
    margin: auto auto auto 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .text2, .text1, .title-primary {
        margin: auto;
    }

    .text1 {
        font-size: 3.5vw;
    }

    .title-primary {
        font-size: 6vw;
    }

    .contacto__container-subcontainer {
        min-width: 95vw;
        min-height: 55vh;
        background-size: cover;
        background-position: center;
        margin: auto;
    }

    .article-primary{
        background-position: center;
    }
}

/*Preguntas frecuentes*/

.title__secondary, .btn-acordeon {
    font-family: "Poppins"; 
    border-radius: 15px;
}

.title__secondary {
    font-size: clamp(100px, 10vw, 10vw);
    text-decoration: underline;
    text-align: left;
    width: fit-content;
    font-weight: 600;
    text-wrap-mode: wrap;
}

.contenedor-acordeon, .btn-acordeon, .acordeon {
    border-radius: 25px;
}

.contenedor-acordeon {
    width: 100%;
    max-width: 85vw;
    margin: 5vh auto auto auto;
}
.contenedor-acordeon h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
}
.acordeon {
    border: 1px solid #333;
    background: #333;
    margin-bottom: 5px;
    color: #e3e3e3;
    font-weight: 600;
    font-family: "Poppins"; 
}
.btn-acordeon {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border: 10px solid #333;
    background: #e3e3e3;
    color: #333;
    border: none;
    cursor: pointer;
    transition: all 300ms ease;
}
.btn-acordeon:hover {
    background: #2d2d2d;
    color: #e3e3e3;
    box-shadow: 0px 0px 10px #333133;
}
.contenido-acordeon {
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 300ms ease, padding 300ms ease;
}
.contenido-acordeon.active {
    max-height: 600px;
    padding: 15px 0px;
}

.btn-acordeon.active {
    background: #333;
    color: #e3e3e3;
    box-shadow: 0px 0px 8px #e3e3e3;
}


/*---------------Footer-------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*:::::Pie de Pagina*/
.pie-pagina{
    margin-top: 5vh;
    width: 100dvw;
    background-color: #1f2023;
    transition: linear 0.2s;
}

.pie-pagina:hover{
    box-shadow: 0px 0px 20px #1dbf72;
    z-index: 1;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 85vw;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #1dbf72;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #e3e3e3;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #1f2023;
    margin-right: 10px;
    background-color: #e3e3e3;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #1dbf72;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #e3e3e6;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

.logo__footer {
    max-width: 10dvw;
    min-width: 64px;
    filter: drop-shadow( 0 0 10px #0000);
    transition: 0.4s;
}

.logo__footer:hover {
    filter: drop-shadow( 0 0 5px #e3e3e6);
}

.redes2 {
    display: flex;
    flex-direction: row;
    text-wrap-mode: nowrap;
    color: #e3e3e3  ;
    transition: linear 0.2s;
    letter-spacing: 2px;
    font-family: "Poppins"; 
    margin: auto;
}

#redes3 {
    margin-left: 8px;
    transition: linear 0.2s;
}

.redes2:hover {
    color: #1dbf72;
    #redes3 {
        color: #1dbf72;
    }
}

.text-final, .box, .box-title {
    font-size: calc(1.5dvh + 0.7dvw);
}

@media screen and (max-width:840px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

    .box {
        max-width: 80dvw;
        margin: auto;
    }
}